<div class=" grid grid-row-2 w-full h-full  fondo">
    <div class="contenido">
        <div class="text-5xl mt-10 font-bold flex justify-center items-center ml-10">
            <span>
                <img class="w-[10rem] " src="/assets/img/AngularJS-Shield.svg" alt="">
            </span>
            <span class="ml-5 text-white text-[3rem]">
                Prueba de Angular para Soaint
            </span>
        </div>
    </div>

    <div class="flex justify-center items-center ">
        <button [routerLink]="['/login']" class=" text-3xl bg-[#af6b2b] hover:bg-blue-700 text-white font-bold py-4 px-16 rounded">
            Iniciar
        </button> 

        
    </div>
</div>
